* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

body {
    align-items: center;
    background-color: lightsalmon;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 100vw;
}

.nav {
    position: fixed;
    top: 0;
    padding: 10px;
}

#timeLeft {
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

.wrapper {
    background-color: white;
    border-radius: 5px;
    display: block;
    line-height: 30px;
    margin: auto;
    max-width: 80%;
    padding: 10px;
    text-align: center;
}

.startBtn {
    font-size: 1rem;
    font-weight: bold;
}

.hide {
    display: none;
}

.grid-btn {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: lightcyan;
    border-color: lightsteelblue;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    width: 60%;
}

.btn:hover {
    border-color: teal;
}

.scoreInitials {
    width: 55%
}

.returnbtn {
    margin-bottom: 50px;
}

.navBarHighscore {
    padding-bottom: 30px;
}